html, body {
    height: 100%;
    margin: 0;
  }
  .container {
    width: 100%;
    height: auto;
    background: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

  
  .box {
    margin: 20px; 
    width: 20%;
    height: 400px;
    background-color: #333333;
    border-radius: 10px;
    color:#fff;  
    align-items:center;
    justify-content:center;
    box-sizing: border-box;
    font-size:40px;
    font-family:sans-serif;  
}

@media screen and (max-width: 1200px){
    .box{
        width: 40%;
    }
}
@media screen and (max-width: 600px){
    .box{
        width: 100%;
    }
}